        
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Reset Password</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Login Start -->
        <div class="login">
            <div class="container">
                {{#if done}}
                <div class="section-header">
                    <h3>Reset Password</h3>
                    <p class="py-3 alert alert-success">
                        Your password has been updated. You can now <a href="/users/login">Login</a> using your new password.
                    </p>
                </div>
                {{else}}
                    {{#if expired}}
                <div class="section-header">
                    <h3>Reset Password</h3>
                    <p class="py-3 alert alert-warning">
                        Your link is expired!
                    </p>
                </div>
                    {{else}}
                <div class="section-header">
                    <h3>Reset Password</h3>
                    <p>
                        Please enter your new password.
                    </p>
                </div>
                <div class="row">                    
                    <div class="col-md-6 mx-auto">
                        <form action="/users/reset" method="post" id="formReset">    
                            <div class="register-form">
                                <div class="row">
                                     <div class="col-md-12">
                                        <label>Password</label>
                                        <input class="form-control" type="password" placeholder="Password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" onchange="checkPasswordConfirm('formReset')">
                                    </div> 
                                    <div class="col-md-12">
                                        <label>Confirm Password</label>
                                        <input class="form-control" type="password" placeholder="Confirm Password" name="confirmpPassword" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" onkeyup="checkPasswordConfirm('formReset')">
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <button class="btn">Submit</button>
                                    </div>
                                    {{#if message}}
                                        <div class="p-3 mt-3 alert alert-warning"> {{{message}}} </div>
                                    {{/if}}
                                    <input type="hidden" name="email" value="{{email}}">
                                    <input type="hidden" name="token" value="{{token}}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                    {{/if}}    
                {{/if}}

            </div>
        </div>
        <!-- Login End -->
        
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h1>E Shop</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin rutrum massa. Suspendisse sollicitudin rutrum massa. Vestibulum porttitor, metus sed pretium elementum, nisi nibh sodales quam, non lobortis neque felis id mauris.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Pages</h3>
                            <ul>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="product-detail.html">Product Detail</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login.html">Login & Register</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login.html">Login & Register</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 E Shop, Los Angeles, CA, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row payment">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <p>We Accept:</p>
                            <img src="img/payment-method.png" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <p>Secured By:</p>
                            <img src="img/godaddy.svg" alt="Payment Security" />
                            <img src="img/norton.svg" alt="Payment Security" />
                            <img src="img/ssl.svg" alt="Payment Security" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        
